assets/earth/runtime/*.ncvtex filter=lfs diff=lfs merge=lfs -text
assets/earth/runtime/*.r16 filter=lfs diff=lfs merge=lfs -text
assets/earth/runtime/*.ncnorm filter=lfs diff=lfs merge=lfs -text
assets/earth/runtime/*.ncpbr filter=lfs diff=lfs merge=lfs -text
assets/earth/runtime/regions/*.ncvreg filter=lfs diff=lfs merge=lfs -text
assets/earth/source/regional/**/*.tif filter=lfs diff=lfs merge=lfs -text
assets/earth/source/nasa-blue-marble-*.png filter=lfs diff=lfs merge=lfs -text
